{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tele监控报告</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        导航条
    </div>
</nav>
<div class="row">
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
</div>
<hr/>

{% for k,v in data_dic.items %}
    <table class="table table-condensed table-bordered table-hover">
        <button class="btn btn-primary">{{ k }}  :</button>
        <br/>
        <tr class="info">
            {% if k == 'zookeeper' %}
                <button class="btn btn-block">
                    <td>集群名</td>
                    <td>主机数量/正常主机</td>
                    <td>请求最大延迟</td>
                    <td>待处理请求数</td>
                    <td>连接数</td>

                </button>
            {% else %}
                <button class="btn btn-block">
                    <td>集群名</td>
                    <td>总数/存活</td>
                    <td>最大连接</td>
                    <td>等待请求数</td>
                </button>
            {% endif %}
        </tr>
        <br/>

        {% for k,v in v.items %}
            <tr class="warning">
                {#集群名#}
                <td>
                    <button class="btn btn-warning">{{ k }}</button>
                </td>
                {#集群值#}
                {% for value in v %}
                    <td>
                        {% if forloop.counter == 1 %}
                            {% if value.0 == value.1 %}
                                <button class="btn btn-success"> {{ value.0 }} / {{ value.1 }}  </button>
                            {% else %}
                                <button class="btn btn-danger"> {{ value.0 }} / {{ value.1 }}    </button>
                            {% endif %}
                        {% else %}
                            <button class="btn btn-success"> {{ value }}    </button>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

    </table>
    <br/>
{% endfor %}
<hr/>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>
</body>
</html>