<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<h1>user列表</h1>
<img src="/static/1.png" alt="">
<input type="text" class="btn btn-primary" value="新建"/>
<!--<link rel="stylesheet" href="/static/plugins/">-->
<!--<img src="{% static 'img/1.png' %}" alt="">-->
<!--<script src="{% static 'js/' %}">
    </script>
    -->

</body>
</html>